:root,
element {
  --primary-violet: #f1bbfb;
  --primary-green: #99dc79;
  --primary-pink: #ffa1a1;
  --primary-red: #E3242B;
  --primary-gray: #9fa2b4;
  --primary-gold: #d6b534;
  --primary-silver: #c0c0c0;
  --primary-bronze: #cd7f32;

  --secondary-violet: #f2cbf9;
  --secondary-green: #cdeacd;
  --secondary-pink: #ffbcbc;
}
